* {
  box-sizing: border-box;

}


.gallery {
  list-style: none;
  display: flex;
  padding: 24px 156px;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
    width: 1440px;
    height: 696 px;
    background-color: #FFF;
    
  }
  
  .gallery-image {
    width: 360px;
    height: 200px;
    cursor: pointer;
  }
 







