* {
  box-sizing: border-box;

}

.gallery{
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  width: calc((1440px-72)/3);
  gap: 24px;
  row-gap: 24px;
  

}

.gallery-item {
  list-style: none; 
    
    background-color: #FFF;
    
  }
  
  .gallery-images {
    width: 360px;
    height: 200px;
    cursor: pointer;
    
  }
 







